/* syling for slider */
.slider{
    width: 500px;
    height: 350px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

 .slide img{
    width: 500px;
    height: 350px;
    object-fit: cover;
    object-position:center;
    position: relative;
}

.slide3 img{
    width: 500px;
    height: 350px;
    object-fit: cover;
    object-position:top;
    position: relative;
}

/* manual nav css */
.nav-manual{
    position: relative;
    width: 500px;
    display: flex;
    margin-top: -35px;
    justify-content: center;
}

.man-btn{
    border: 2px solid #BD533E;
    opacity: 85%;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.man-btn:not(:last-child){
    margin-right: 20px;
}

.man-btn:hover{
    background-color: #BD533E;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}

/* auto slider */
.nav-auto{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 455px;
}
.nav-auto div{
    border: 2px solid #BD533E;
    opacity: 85%;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 20px;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background: #BD533E;
}
#radio2:checked ~ .nav-auto .auto-btn2{
    background: #BD533E;
}
#radio3:checked ~ .nav-auto .auto-btn3{
    background: #BD533E;
}
#radio4:checked ~ .nav-auto .auto-btn4{
    background: #BD533E;
}
#radio5:checked ~ .nav-auto .auto-btn5{
    background: #BD533E;
}